<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ayachinene.infra.persistence.product.sku.SkuSpecificationSelectionMapper">

    <insert id="insertBatch">
        INSERT INTO sku_specification_selection
        (
            id,
            sku_id,
            specification_id,
            specification_value_id,
            created_at
        )
        VALUES
        <foreach collection="list" item="selection" separator=",">
            (
                #{selection.id},
                #{selection.skuId},
                #{selection.specificationId},
                #{selection.specificationValueId},
                #{selection.createdAt}
            )
        </foreach>
    </insert>

</mapper>
