<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ayachinene.infra.product.persistence.ProductGalleryImageMapper">

    <insert id="insertBatch">
        INSERT INTO product_gallery_image
        (
            id,
            product_id,
            file_id,
            sort_order,
            created_at
        )
        VALUES
        <foreach collection="list" item="image" separator=",">
            (
                #{image.id},
                #{image.productId},
                #{image.fileId},
                #{image.sortOrder},
                #{image.createdAt}
            )
        </foreach>
    </insert>

</mapper>
