<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ayachinene.infra.persistence.product.specification.SpecificationValueMapper">

    <insert id="insertBatch">
        INSERT INTO product_specification_value
        (
            id,
            specification_id,
            display_name,
            status,
            sort_order,
            created_at,
            updated_at
        )
        VALUES
        <foreach collection="list" item="value" separator=",">
            (
                #{value.id},
                #{value.specificationId},
                #{value.displayName},
                #{value.status},
                #{value.sortOrder},
                #{value.createdAt},
                #{value.updatedAt}
            )
        </foreach>
    </insert>

</mapper>
