<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ayachinene.infra.product.persistence.specification.SpecificationMapper">

    <insert id="insertBatch">
        INSERT INTO product_specification
        (
            id,
            product_id,
            name,
            status,
            sort_order,
            created_at,
            updated_at
        )
        VALUES
        <foreach collection="list" item="specification" separator=",">
            (
                #{specification.id},
                #{specification.productId},
                #{specification.name},
                #{specification.status},
                #{specification.sortOrder},
                #{specification.createdAt},
                #{specification.updatedAt}
            )
        </foreach>
    </insert>

</mapper>
